@font-face {
  font-family: 'Kollektif-Bold';
  src: url("/fonts/Kollektif-Bold.ttf"); }
@font-face {
  font-family: 'Kollektif';
  src: url("/fonts/Kollektif.ttf"); }
.container {
  max-width: 960px; }

.border-top {
  border-top: 1px solid #e5e5e5; }

.border-bottom {
  border-bottom: 1px solid #e5e5e5; }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }

.flex-equal > * {
  -ms-flex: 1;
  flex: 1; }

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1; } }
.overflow-hidden {
  overflow: hidden; }

body {
  z-index: 5;
  font-family: 'Kollektif-Bold', sans-serif;
  max-width: 100%;
  height: 100%;
  -webkit-tap-highlght-color: rgba(255, 255, 255, 0.2); }

html {
  z-index: 5;
  overflow-x: hidden;
  max-width: 100%;
  height: 100%; }

.bg-image {
  height: 100vh;
  background-image: url(/images/bg5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: background 20s ease-out infinite;
  animation: background 20s ease-out infinite;
  margin: 0 !important;
  color: white; }
  @media (min-width: 768px) {
    .bg-image {
      height: 50vh; } }

.sexy_line {
  display: block;
  border: none;
  height: 1px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))); }

h1 {
  font-size: 6em;
  font-weight: 1000; }

.lead {
  font-family: 'Kollektif', sans-serif;
  letter-spacing: 14px;
  font-size: 3em; }

.normy {
  font-family: 'Kollektif', sans-serif;
  margin-top: 10px; }

@-webkit-keyframes background {
  0% {
    background-color: #3D348B; }
  33% {
    background-color: #d06d2e; }
  50% {
    background-color: #f8a604; }
  67% {
    background-color: #FFBC42; }
  100% {
    background-color: #3D348B; } }
@keyframes background {
  0% {
    background-color: #3D348B; }
  33% {
    background-color: #d06d2e; }
  50% {
    background-color: #f8a604; }
  67% {
    background-color: #FFBC42; }
  100% {
    background-color: #3D348B; } }
/*
 * navvy anim
 */
.navbar .navbar-toggle .icon-bar {
  background-color: #000505; }

.navbar-toggle {
  border: none;
  margin-top: 15px; }

.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s; }

.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%; }

.navbar-toggle .middle-bar {
  opacity: 0; }

.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%; }

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0); }

.navbar-toggle.collapsed .middle-bar {
  opacity: 1; }

.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0); }
