@font-face {
  font-family: 'Kollektif-Bold';
  src: url("/fonts/Kollektif-Bold.ttf"); }
@font-face {
  font-family: 'Kollektif';
  src: url("/fonts/Kollektif.ttf"); }
@font-face {
  font-family: 'Kollektif-Italic';
  src: url("/fonts/Kollektif-Italic.ttf"); }
.container {
  max-width: 960px; }

.border-top {
  border-top: 1px solid #e5e5e5; }

.border-bottom {
  border-bottom: 1px solid #e5e5e5; }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }

.flex-equal > * {
  -ms-flex: 1;
  flex: 1; }

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1; } }
.overflow-hidden {
  overflow: hidden; }

body {
  z-index: 5;
  font-family: 'Kollektif-Bold', sans-serif;
  max-width: 100%;
  height: 100%;
  -webkit-tap-highlght-color: rgba(255, 255, 255, 0.2); }

html {
  z-index: 5;
  overflow-x: hidden;
  max-width: 100%;
  height: 100%; }

.img-me {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-size: contain;
  float: right; }

.bg-image {
  height: 100vh;
  background-image: url(/images/bg_7_3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: background 20s ease-in-out infinite;
  animation: background 20s ease-in-out infinite;
  margin: 0 !important;
  color: white;
  color: #b4b4a8; }

.navbar {
  color: white; }
  .navbar .navbar-brand {
    font-size: 1.6em; }
    .navbar .navbar-brand svg {
      padding: 5px 0; }

.lead-text {
  position: absolute;
  bottom: 10%;
  left: 5%;
  text-align: left;
  line-height: 1.6em;
  -webkit-animation: ts 20s ease-in-out infinite; }
  @media (min-width: 768px) {
    .lead-text {
      bottom: 10%;
      left: 10%;
      line-height: 3em; } }

.sexy_line {
  display: block;
  border: none;
  height: 1px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))); }

.contact {
  font-size: 2em;
  padding: 0 50px; }
  .contact svg {
    margin: 20px;
    color: #999; }
    @media (min-width: 768px) {
      .contact svg {
        margin: 45px; } }

h1 {
  font-size: 6em;
  font-weight: 1000;
  line-height: .72em; }
  @media (min-width: 768px) {
    h1 {
      font-size: 8em;
      line-height: .72em; } }

.p-margin-top {
  margin-top: 40px; }

.lead {
  font-family: 'Kollektif', sans-serif;
  letter-spacing: 14px;
  font-size: 4em; }
  @media (min-width: 768px) {
    .lead {
      font-size: 6em; } }

.normy {
  font-family: 'Kollektif-Italic', sans-serif;
  margin-top: 10px;
  font-weight: normal;
  text-shadow: none; }

@-webkit-keyframes background {
  0% {
    background-color: #b4b4a8; }
  33% {
    background-color: #33658A; }
  50% {
    background-color: #2F4858; }
  67% {
    background-color: #C32F27; }
  100% {
    background-color: #b4b4a8; } }
@keyframes background {
  0% {
    background-color: #b4b4a8; }
  33% {
    background-color: #33658A; }
  50% {
    background-color: #2F4858; }
  67% {
    background-color: #C32F27; }
  100% {
    background-color: #b4b4a8; } }
@-webkit-keyframes ts {
  0% {
    text-shadow: -2px 1px rgba(255, 255, 255, 0.5); }
  33% {
    text-shadow: -2px 1px rgba(255, 255, 255, 0); }
  50% {
    text-shadow: -2px 1px rgba(255, 255, 255, 0); }
  67% {
    text-shadow: -2px 1px rgba(255, 255, 255, 0); }
  100% {
    text-shadow: -2px 1px rgba(255, 255, 255, 0.5); } }
/*
 * navvy anim
 */
.navbar .navbar-toggle .icon-bar {
  background-color: #000505; }

.navbar-toggle {
  border: none;
  margin-top: 15px; }

.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s; }

.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%; }

.navbar-toggle .middle-bar {
  opacity: 0; }

.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%; }

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0); }

.navbar-toggle.collapsed .middle-bar {
  opacity: 1; }

.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0); }
