// Variables

@font-face {
  font-family: 'Kollektif-Bold';
  src: url('/fonts/Kollektif-Bold.ttf');
}

@font-face {
  font-family: 'Kollektif';
  src: url('/fonts/Kollektif.ttf');
}

@font-face {
  font-family: 'Kollektif-Italic';
  src: url('/fonts/Kollektif-Italic.ttf');
}

@font-face {
  font-family: 'Mini 7 Condensed Regular';
  src: url("/fonts/Mini 7 Condensed Regular.ttf"); 
}

$blue: #004E98;
$red: #C0C0C0;
$gold: #F4D06F;

$eggshell: #000505;
$lightgreen: #747266;
$black: #000505;
$grey: #444;
$bg_color3: #EBEBEB;
$white: #fff;


//
// $bg1: #3D348B;
// $bg2: #d06d2e;
// $bg3: #f8a604;
// $bg4: #FFBC42;

$bg1: #b4b4a8;
$bg2: #33658A;
$bg3: #2F4858;
$bg4: #C32F27;

$bg5: #b4b4a8;

$ts1: rgba(255, 255, 255, .5);
$ts2: rgba(255, 255, 255, 0);



@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  //-webkit-transform: translateY(-50%);
  //-ms-transform: translateY(-50%);
  //transform: translateY(-50%);
}

.spinner {
  // width: 40px;
  // height: 40px;
  // background-color: white;
  margin: 0 auto;
  font-size: 3em;
  color: white;
}

#hideAll {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  background-color: $bg1;
  z-index: 600;
  transition: opacity .5s ease;
  text-align: center;

  div {
    @include vertical-align();
  }
}
