@import "variables0";
@import "product";
@import "nav";

body {
  z-index: 5;
  font-family: 'Kollektif-Bold', sans-serif;
  max-width: 100%;
  height: 100%;
  // color: $eggshell;
  // color:white;
  // background-color: $black;
  -webkit-tap-highlght-color: rgba(white, 0.2);

  text-rendering: geometricPrecision;
}

html,
body {
  height: 100%;
  background-color: #000;
}

header {
  margin-bottom: 2rem;
}

.donate {
  margin: 100px auto;
}

#info {
  padding-top: 0;
}

#mc_embed_signup {
  margin: 50px 0;
}

.cover-container {
  max-width: 42em;
}

.marketing {
  margin-top: 50px;
}

#privacyModal {
  color: white;
}

.privacy-link {
  font-size: .95em;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
.featurette {
  font-family: "Kollektif", sans-serif;

  .img-star {
    float: right;
    width: 50%;
    margin: 20px;

    @media(min-width: 768px) {
      width: 30%;
    }
  }
  .lead {
    color: white;

  }

  .song-title {
    font-style: italic;
    font-weight: normal !important;
  }

  ul {
    color: white;
    font-weight: bold;
  }
}
.featurette-divider {
  background-color: white;

}

.btn-primary {
  background-color: $ss_bg4;
  border: 1px solid $ss_bg4;
  // padding: 10px 50px  !important;
  width: 250px;
  &:hover {
    background-color: lighten($ss_bg4, 10%);
    border: 1px solid white;
  }
  letter-spacing: 1px;

  svg {
    font-size: 1.4em;
    margin: 0 6px;
  }

  text-shadow: none;
}

.btn-secondary {
  width: 250px;
  background-color: rgba(255,255,255,.2);
  border: 1px solid $ss_bg4;
  &:hover {

    background-color: white;
    color: $ss_bg4;
  }
  letter-spacing: 1px;

  svg {
    font-size: 1.4em;
    margin: 0 6px;
  }

  text-shadow: none;
}

.mastfoot {
  .learn-more {
    margin-bottom: -5px;
    a {
      font-size: .9em;
      color: $textMuted !important;
      &:hover {
        color: $linkBlue !important;
      }
    }
  }

  svg {
    font-size: 2em;
    color: $textMuted !important;
    &:hover {
      color: $linkBlue !important;
    }
  }
}

footer {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  color: #999;
  font-family: "Kollektif", sans-serif;
  letter-spacing: 5px;
  svg {
    margin: 0 5px;
  }
}
/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.img-sleepy {
  width: 100%;
  height: auto;
  margin: 50px 0;
}

.img-sleepy2 {
  width: 250px;
  height: auto;
  margin: 0;
}
.cover-container {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.bg-img {
  background-image: url(/images/sky_bg_big_1600_.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: ss_background 20s linear infinite;
  animation: ss_background 20s linear infinite;
  color: white;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;

  // z-index: 1000;
}

.fader {
  position: relative;
  top: -80px;
  left: 0;

  .slick-initialized {
    position: absolute;
  }

  // width: 100vw;
  // height: 100vh;
  //
  width: 100%;
  height: 100vh;
  z-index: 2;

  img {
    height: 100vh;
    width: auto;
  }
}

.main-info {
  z-index: 10;
}

@-webkit-keyframes ss_background {
  0% { background-color: $ss_bg1; }
  33% { background-color: $ss_bg2; }
  50% { background-color: $ss_bg3; }
  67% { background-color: $ss_bg4; }
  100% { background-color: $ss_bg1; }
}

@keyframes ss_background {
  0% { background-color: $ss_bg1; }
  33% { background-color: $ss_bg2; }
  50% { background-color: $ss_bg3; }
  67% { background-color: $ss_bg4; }
  100% { background-color: $ss_bg1; }
}

html {
  z-index: 5;
  overflow-x: hidden;
  max-width: 100%;
  height: 100%;
}

.img-me {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-size: contain;
  float: right;
}

.navbar {
  color: white;

  .navbar-brand {
    font-size: 1.6em;
    svg {
      padding: 5px 0;
    }
  }
}

$smallest-width: 400px;

.lead-text {
  position: absolute;
  bottom: 10%;
  left: 5%;
  text-align: left;
  line-height: 1em;
  // text-shadow: -2px 1px $ts2;
  -webkit-animation: ts 20s ease-in-out infinite;
  // animation: background 20s ease-in-out infinite;
  @media(min-width: $smallest-width) {
    line-height: 1.6em;
  }

  @media(min-width: 768px) {
    bottom: 10%;
    left: 10%;
    line-height: 3em;
  }

  h1 {
    font-size: 5.4em;
    font-weight: 1000;
    line-height: .72em;
    @media(min-width: $smallest-width) {
      font-size: 6em;
      line-height: .72em;
    }
    @media(min-width: 768px) {
      font-size: 8em;
    }
  }

  .lead {
    font-family: 'Kollektif', sans-serif;
    letter-spacing: 14px;
    font-size: 3.4em;
    @media(min-width: $smallest-width) {
      font-size: 4em;
    }
    @media(min-width: 768px) {
      font-size: 6em;

    }

  }

  .normy {
    font-family: 'Kollektif-Italic', sans-serif;
    margin-top: 10px;
    font-weight: normal;
    text-shadow: none;
  }
  .grad-line {
    display:block;
    border:none;
    height:1px;

    // background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
    background: transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
    width: 300px;
    @media(min-width: $smallest-width) {
      width: 350px;
    }
    @media(min-width: 768px) {
      width: 470px;
    }
  }
}


.contact {

  font-size: 2em;
  // position: absolute;
  //
  // bottom: 0;
  // right: 0;
  padding: 0 50px;
  svg {
    margin: 20px;
    color: #999;
    @media(min-width: 768px) {
      margin: 45px;
    }
    transition: .4s ease-in;
    &:hover {
      color: white;
      cursor: pointer;
    }

  }
}


.p-margin-top {
  margin-top: 40px;
}



//
// .navbar-toggler {
//   font-size: 2em;
//   border: none;
//   svg {
//     transition: opacity .4s ease-out;
//     color: white;
//   }
//   position: relative;
//   .fa-bars {
//     opacity: 0;
//   }
//   .fa-times {
//     opacity: 1;
//     position: absolute;
//     right: 12px;
//     top: 0;
//     font-size: 1.25em;
//   }
//
//   &:focus {
//     outline: none;
//   }
// }
//
// .navbar-toggler.collapsed {
//   .fa-bars {
//     opacity: 1;
//   }
//   .fa-times {
//     opacity: 0;
//   }
// }

/*
 * navvy anim
 */
.navbar .navbar-toggle .icon-bar {
  background-color: white;
  display: block;
  width: 34px;
  height: 3px;
  border-radius: 1px;
  margin-top: 6px;
}
.navbar-toggle {
  border: none;
  font-size: 2em;
  border: none;
  cursor:pointer;
  display: block;
  text-align: right;
  background-color: transparent;
  border: none;
  z-index:102;
  position: relative;

  &:focus {
    outline: none;
  }
  // margin-top: 15px;
}
.navbar-toggle .icon-bar {
  width: 32px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

/*
 * modal styles
 */
.modal-content {
  background-color: #000;
}
.modal-header {
  height: 30px;
  padding: 0 15px;
  border-bottom: none;
}

.modal-header span {
  font-size: 1.8em;
  color: white !important;
  z-index: 10000;
}

.modal-header > span:hover {
  color: white;

}
