@import "variables";
@import "product";

body {
  z-index: 5;
  font-family: 'Kollektif-Bold', sans-serif;
  max-width: 100%;
  height: 100%;
  // color: $eggshell;
  // color:white;
  // background-color: $black;
  -webkit-tap-highlght-color: rgba(white, 0.2);
}

html {
  z-index: 5;
  overflow-x: hidden;
  max-width: 100%;
  height: 100%;
}

.img-me {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-size: contain;
  float: right;
}

.bg-image {
  height: 100vh;
  background-image: url(/images/bg_7_3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-animation: background 20s ease-in-out infinite;
  animation: background 20s ease-in-out infinite;

  margin: 0 !important;

  color: white;

  color: $bg5;


}

.navbar {
  color: white;

  .navbar-brand {
    font-size: 1.6em;
    svg {
      padding: 5px 0;
    }
  }
}
.lead-text {
  position: absolute;
  bottom: 10%;
  left: 5%;
  text-align: left;
  line-height: 1.6em;
  // text-shadow: -2px 1px $ts2;
  -webkit-animation: ts 20s ease-in-out infinite;
  // animation: background 20s ease-in-out infinite;


  @media(min-width: 768px) {
    bottom: 10%;
    left: 10%;
    line-height: 3em;
  }
}
.sexy_line{
  display:block;
  border:none;
  height:1px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(rgba(255, 255, 255, .5)), to(rgba(255, 255, 255, 0)));
}
.contact {

  font-size: 2em;
  // position: absolute;
  //
  // bottom: 0;
  // right: 0;
  padding: 0 50px;
  svg {
    margin: 20px;
    color: #999;
    @media(min-width: 768px) {
      margin: 45px;
    }
    transition: .4s ease-in;
    &:hover {
      color: white;
      cursor: pointer;
    }

  }
}

h1 {
  font-size: 6em;
  font-weight: 1000;
  line-height: .72em;

  @media(min-width: 768px) {
    font-size: 8em;
    line-height: .72em;
  }
}

.p-margin-top {
  margin-top: 40px;
}

.lead {
  font-family: 'Kollektif', sans-serif;
  letter-spacing: 14px;
  font-size: 4em;

  @media(min-width: 768px) {
    font-size: 6em;

  }

}

.navbar-toggler {
  font-size: 2em;
  border: none;
  svg {
    transition: opacity .4s ease-out;
    color: white;
  }
  position: relative;
  .fa-bars {
    // display: none;
    opacity: 0;
  }
  .fa-times {
    // display: block;
    opacity: 1;
    position: absolute;
    right: 12px;
    top: 0;
    font-size: 1.25em;
  }

  &:focus {
    outline: none;
  }
}

.navbar-toggler.collapsed {
  .fa-bars {
    // display: block;
    opacity: 1;
  }
  .fa-times {
    // display: none;
    opacity: 0;
  }
}

.normy {
  font-family: 'Kollektif-Italic', sans-serif;
  margin-top: 10px;
  font-weight: normal;
  text-shadow: none;
}


@-webkit-keyframes background {
  0% { background-color: $bg1; }
  33% { background-color: $bg2; }
  50% { background-color: $bg3; }
  67% { background-color: $bg4; }
  100% { background-color: $bg1; }
}

@keyframes background {
  0% { background-color: $bg1; }
  33% { background-color: $bg2; }
  50% { background-color: $bg3; }
  67% { background-color: $bg4; }
  100% { background-color: $bg1; }
}

// @-webkit-keyframes ts {
//   0% { text-shadow: -2px 1px $ts1; }
//   33% { text-shadow: -2px 1px $bg2; }
//   50% { text-shadow: -2px 1px $bg3; }
//   67% { text-shadow: -2px 1px $bg4; }
//   100% { text-shadow: -2px 1px $ts1; }
// }
@-webkit-keyframes ts {
  0% { text-shadow: -2px 1px $ts1; }
  33% { text-shadow: -2px 1px $ts2; }
  50% { text-shadow: -2px 1px $ts2; }
  67% { text-shadow: -2px 1px $ts2; }
  100% { text-shadow: -2px 1px $ts1; }
}
/*
 * navvy anim
 */
.navbar .navbar-toggle .icon-bar {
  background-color: $eggshell;
}
.navbar-toggle {
  border: none;
  margin-top: 15px;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
