@import "variables";
@import "product";

body {
  z-index: 5;
  font-family: 'Kollektif-Bold', sans-serif;
  max-width: 100%;
  height: 100%;
  // color: $eggshell;
  // color:white;
  // background-color: $black;
  -webkit-tap-highlght-color: rgba(white, 0.2);

}

html {
  z-index: 5;
  overflow-x: hidden;
  max-width: 100%;
  height: 100%;
}




$navBackground: rgba(49, 13, 13, 0.8);
$linkBlue: #007bff;

.nav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: $navBackground;
  overflow-x: hidden;
  transition: 0.5s;

  .nav-container {
    transition: opacity .3s ease-in;
  }
  .nav-content {
    position: relative;
    top: 1%;
    width: 100vw;
    height: 100vh;
    font-size: .7em;

    @media(min-height: 500px) {
      font-size: .85em;
    }

    @media(min-height: 615px) {
      font-size: .95em;
    }
    @media(min-width: 768px) {
      height: 50vh;
      top: 25%;
      font-size: 1em;
    }

    .row-height {
      height: 100vh;

    }
    // text-align: center;
    // margin-top: 30px;

    .scrollable {
      // height: 50vh;
    }
    .sleepy-link {
      width: 150px;
      @media(max-height: 550px) {
        display: none;
      }
      @media(min-height: 650px) {
        width: 200px;
      }
      @media(min-width: 768px) {
        width: 300px;
      }
    }


    .container, .row {
      position: relative;
    }
  }

  .text-muted {
    color: #ddd !important;;
  }
  .contact {

    font-size: 1.6em;
    text-align: center;
    padding: 0;
    position: absolute;
    bottom: 50px;
    left: 0;
    @media(min-height: 600px) {
      font-size: 2em;
    }

    @media(min-width: 768px) {
      margin-top: 120px;
      font-size: 2em;
      position: relative;
    }
    .row {
      display: block;
    }

    a:hover {
      text-decoration: none;
    }
    svg {
      margin: 10px 14px;
      color: white;
      transition: color .4s ease;
      &:hover {
        color: $linkBlue;
        cursor: pointer;

      }

      @media(min-width: 768px) {
        margin: 20px 14px;
      }
    }

  }

}



.img-me {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-size: contain;
  float: right;
}

.bg-image {
  height: 100vh;
  background-image: url(/images/bg_this_.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-animation: background 20s ease-in-out infinite;
  animation: background 20s ease-in-out infinite;

  margin: 0 !important;

  color: white;

  color: $bg5;


}



.navbar {
  color: white;

  .navbar-brand {
    font-size: 1.6em;
    svg {
      padding: 5px 0;
    }
  }
}

$smallest-width: 400px;

.lead-text {
  position: absolute;
  bottom: 10%;
  left: 5%;
  text-align: left;
  line-height: 1em;
  // text-shadow: -2px 1px $ts2;
  -webkit-animation: ts 20s ease-in-out infinite;
  // animation: background 20s ease-in-out infinite;
  @media(min-width: $smallest-width) {
    line-height: 1.6em;
  }

  @media(min-width: 768px) {
    bottom: 10%;
    left: 10%;
    line-height: 3em;
  }

  h1 {
    font-size: 5.4em;
    font-weight: 1000;
    line-height: .72em;
    @media(min-width: $smallest-width) {
      font-size: 6em;
      line-height: .72em;
    }
    @media(min-width: 768px) {
      font-size: 8em;
    }
  }

  .lead {
    font-family: 'Kollektif', sans-serif;
    letter-spacing: 14px;
    font-size: 3.4em;
    @media(min-width: $smallest-width) {
      font-size: 4em;
    }
    @media(min-width: 768px) {
      font-size: 6em;

    }

  }

  .normy {
    font-family: 'Kollektif-Italic', sans-serif;
    margin-top: 10px;
    font-weight: normal;
    text-shadow: none;
  }
  .grad-line {
    display:block;
    border:none;
    height:1px;

    // background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
    background: transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
    width: 300px;
    @media(min-width: $smallest-width) {
      width: 350px;
    }
    @media(min-width: 768px) {
      width: 470px;
    }
  }
}

.p-margin-top {
  margin-top: 40px;
}


.navbar-toggler {

}

@-webkit-keyframes color {
  0% { color: $bg1; }
  33% { color: $bg2; }
  50% { color: $bg3; }
  67% { color: $bg4; }
  100% { color: $bg1; }
}


@-webkit-keyframes background {
  0% { background-color: $bg1; }
  33% { background-color: $bg2; }
  50% { background-color: $bg3; }
  67% { background-color: $bg4; }
  100% { background-color: $bg1; }
}

@keyframes background {
  0% { background-color: $bg1; }
  33% { background-color: $bg2; }
  50% { background-color: $bg3; }
  67% { background-color: $bg4; }
  100% { background-color: $bg1; }
}

// @-webkit-keyframes ts {
//   0% { text-shadow: -2px 1px $ts1; }
//   33% { text-shadow: -2px 1px $bg2; }
//   50% { text-shadow: -2px 1px $bg3; }
//   67% { text-shadow: -2px 1px $bg4; }
//   100% { text-shadow: -2px 1px $ts1; }
// }
@-webkit-keyframes ts {
  0% { text-shadow: -2px 1px $ts1; }
  33% { text-shadow: -2px 1px $ts2; }
  // 50% { text-shadow: -2px 1px $ts2; }
  // 67% { text-shadow: -2px 1px $ts2; }
  100% { text-shadow: -2px 1px $ts1; }
}


/*
 * navvy anim
 */
.navbar .navbar-toggle .icon-bar {
  background-color: white;
  display: block;
  width: 34px;
  height: 3px;
  border-radius: 1px;
  margin-top: 6px;
}
.navbar-toggle {
  border: none;
  font-size: 2em;
  border: none;
  cursor:pointer;
  display: block;
  text-align: right;
  background-color: transparent;
  border: none;

  position: relative;

  &:focus {
    outline: none;
  }
  // margin-top: 15px;
}
.navbar-toggle .icon-bar {
  width: 32px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
